<%# include the header file %>
<% include header %>

<%# use bootstrap alert box %>
<div class="container">
    <div class="row">
        <div class="alert alert-warning">
            <h2>404! Page not found. <span class="text-muted"><a href="/" class="btn btn-primary pull-right">Go home</a> </span></h2>
        </div>
    </div>
</div>

<%# include the footer %>
<% include footer %>